spec/fixtures/attributes.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:s="http://www.w3.org/2001/XMLSchema"
  xmlns:article="http://example.com/article"
  xmlns:actions="http://example.com/actions"
  targetNamespace="http://example.com/actions">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://example.com/actions">
        
            <s:element name="Save">
                <s:complexType>
                    <s:attribute name="path" type="s:string" />
                    <s:sequence>
                        <s:element type="actions:Article" />
                        <s:element type="actions:Header" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="Header">
                <s:attribute name="abc">
                  <s:restriction base="s:string">
                    <s:enumeration value="A" />
                    <s:enumeration value="B" />
                    <s:enumeration value="C" />
                  </s:restriction>
                </s:attribute>
                <s:sequence>
                    <s:element minOccurs="0" name="ActionHeaderField1" type="s:string"/>
                    <s:element minOccurs="0" name="Description" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="Article">
                <s:sequence>
                    <s:element minOccurs="0" name="Author" type="s:string"/>
                    <s:element minOccurs="0" name="Title" type="s:string"/>
                </s:sequence>
            </s:complexType>
            
        </s:schema>
    </types>
    <message name="SaveSoapIn">
        <part name="parameters" element="actions:Save"/>
    </message>
    <message name="SaveSoapOut">
        <part name="parameters" element="actions:SaveResponse"/>
    </message>
    <portType name="ArticleSoap">
        <operation name="Save">
            <input message="actions:SaveSoapIn"/>
            <output message="actions:SaveSoapOut"/>
        </operation>
    </portType>
    <binding name="ArticleSoap" type="actions:ArticleSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="Save">
            <soap:operation soapAction="http://example.com/actions.Save" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="StudyMDL">
        <port name="StudyMDLSoap" binding="actions:StudyMDLSoap">
            <soap:address location="http://example.com:1234/soap"/>
        </port>
    </service>
</definitions>
